<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>
    </div>
  </li>
</ol>
<div class="skills grid grid-4col">
    <div class="str-skills flexcol">
        <h3>Athletics</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.athletics.d2" {{checked actor.data.data.skills.athletics.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.athletics.d4" {{checked actor.data.data.skills.athletics.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.athletics.d6" {{checked actor.data.data.skills.athletics.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.athletics.d8" {{checked actor.data.data.skills.athletics.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.athletics.d10" {{checked actor.data.data.skills.athletics.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.athletics.d12" {{checked actor.data.data.skills.athletics.d12}}/>
            </div>
        </div>
        <div class="flexrow">
            <div class="flexcol">
                {{#times 3}}
                    {{log (concat data.skills.athletics.specializations.[ @index ])}}
                {{/times}}
                <input type="text" name="data.skills.athletics.specializations.0" value="{{data.skills.athletics.specializations.[0]}}" data-dtype="String"/>
                <input type="text" name="data.skills.athletics.specializations.1" value="{{data.skills.athletics.specializations.[1]}}" data-dtype="String"/>
                <input type="text" name="data.skills.athletics.specializations.2" value="{{data.skills.athletics.specializations.[2]}}" data-dtype="String"/>
            </div>
        </div>
        <h3>Brawn</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.brawn.d2" {{checked actor.data.data.skills.brawn.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.brawn.d4" {{checked actor.data.data.skills.brawn.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.brawn.d6" {{checked actor.data.data.skills.brawn.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.brawn.d8" {{checked actor.data.data.skills.brawn.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.brawn.d10" {{checked actor.data.data.skills.brawn.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.brawn.d12" {{checked actor.data.data.skills.brawn.d12}}/>
            </div>
        </div>
        <h3>Conditioning</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>+2</label>
                <input type="checkbox" name="data.skills.conditioning.d2" {{checked actor.data.data.skills.conditioning.d2}}/>
            </div>
            <div class="flexcol">
                <label>+4</label>
                <input type="checkbox" name="data.skills.conditioning.d4" {{checked actor.data.data.skills.conditioning.d4}}/>
            </div>
            <div class="flexcol">
                <label>+6</label>
                <input type="checkbox" name="data.skills.conditioning.d6" {{checked actor.data.data.skills.conditioning.d6}}/>
            </div>
            <div class="flexcol">
                <label>+8</label>
                <input type="checkbox" name="data.skills.conditioning.d8" {{checked actor.data.data.skills.conditioning.d8}}/>
            </div>
            <div class="flexcol">
                <label>+10</label>
                <input type="checkbox" name="data.skills.conditioning.d10" {{checked actor.data.data.skills.conditioning.d10}}/>
            </div>
            <div class="flexcol">
                <label>+12</label>
                <input type="checkbox" name="data.skills.conditioning.d12" {{checked actor.data.data.skills.conditioning.d12}}/>
            </div>
        </div>
        <h3>Intimidation</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.intimidation.d2" {{checked actor.data.data.skills.intimidation.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.intimidation.d4" {{checked actor.data.data.skills.intimidation.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.intimidation.d6" {{checked actor.data.data.skills.intimidation.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.intimidation.d8" {{checked actor.data.data.skills.intimidation.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.intimidation.d10" {{checked actor.data.data.skills.intimidation.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.intimidation.d12" {{checked actor.data.data.skills.intimidation.d12}}/>
            </div>
        </div>
        <h3>Might</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.might.d2" {{checked actor.data.data.skills.might.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.might.d4" {{checked actor.data.data.skills.might.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.might.d6" {{checked actor.data.data.skills.might.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.might.d8" {{checked actor.data.data.skills.might.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.might.d10" {{checked actor.data.data.skills.might.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.might.d12" {{checked actor.data.data.skills.might.d12}}/>
            </div>
        </div>
    </div>
    <div class="spd-skills flexcol">
        <h3>Acrobatics</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.acrobatics.d2" {{checked actor.data.data.skills.acrobatics.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.acrobatics.d4" {{checked actor.data.data.skills.acrobatics.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.acrobatics.d6" {{checked actor.data.data.skills.acrobatics.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.acrobatics.d8" {{checked actor.data.data.skills.acrobatics.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.acrobatics.d10" {{checked actor.data.data.skills.acrobatics.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.acrobatics.d12" {{checked actor.data.data.skills.acrobatics.d12}}/>
            </div>
        </div>
        <h3>Driving</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.driving.d2" {{checked actor.data.data.skills.driving.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.driving.d4" {{checked actor.data.data.skills.driving.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.driving.d6" {{checked actor.data.data.skills.driving.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.driving.d8" {{checked actor.data.data.skills.driving.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.driving.d10" {{checked actor.data.data.skills.driving.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.driving.d12" {{checked actor.data.data.skills.driving.d12}}/>
            </div>
        </div>
        <h3>Finesse</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.finesse.d2" {{checked actor.data.data.skills.finesse.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.finesse.d4" {{checked actor.data.data.skills.finesse.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.finesse.d6" {{checked actor.data.data.skills.finesse.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.finesse.d8" {{checked actor.data.data.skills.finesse.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.finesse.d10" {{checked actor.data.data.skills.finesse.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.finesse.d12" {{checked actor.data.data.skills.finesse.d12}}/>
            </div>
        </div>
        <h3>Infiltration</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.infiltration.d2" {{checked actor.data.data.skills.infiltration.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.infiltration.d4" {{checked actor.data.data.skills.infiltration.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.infiltration.d6" {{checked actor.data.data.skills.infiltration.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.infiltration.d8" {{checked actor.data.data.skills.infiltration.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.infiltration.d10" {{checked actor.data.data.skills.infiltration.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.infiltration.d12" {{checked actor.data.data.skills.infiltration.d12}}/>
            </div>
        </div>
        <h3>Initiative</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.initiative.d2" {{checked actor.data.data.skills.initiative.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.initiative.d4" {{checked actor.data.data.skills.initiative.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.initiative.d6" {{checked actor.data.data.skills.initiative.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.initiative.d8" {{checked actor.data.data.skills.initiative.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.initiative.d10" {{checked actor.data.data.skills.initiative.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.initiative.d12" {{checked actor.data.data.skills.initiative.d12}}/>
            </div>
        </div>
        <h3>Targeting</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.targeting.d2" {{checked actor.data.data.skills.targeting.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.targeting.d4" {{checked actor.data.data.skills.targeting.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.targeting.d6" {{checked actor.data.data.skills.targeting.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.targeting.d8" {{checked actor.data.data.skills.targeting.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.targeting.d10" {{checked actor.data.data.skills.targeting.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.targeting.d12" {{checked actor.data.data.skills.targeting.d12}}/>
            </div>
        </div>
    </div>
    <div class="smt-skills flexcol">
        <h3>Alertness</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.alertness.d2" {{checked actor.data.data.skills.alertness.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.alertness.d4" {{checked actor.data.data.skills.alertness.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.alertness.d6" {{checked actor.data.data.skills.alertness.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.alertness.d8" {{checked actor.data.data.skills.alertness.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.alertness.d10" {{checked actor.data.data.skills.alertness.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.alertness.d12" {{checked actor.data.data.skills.alertness.d12}}/>
            </div>
        </div>
        <h3>Culture</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.culture.d2" {{checked actor.data.data.skills.culture.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.culture.d4" {{checked actor.data.data.skills.culture.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.culture.d6" {{checked actor.data.data.skills.culture.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.culture.d8" {{checked actor.data.data.skills.culture.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.culture.d10" {{checked actor.data.data.skills.culture.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.culture.d12" {{checked actor.data.data.skills.culture.d12}}/>
            </div>
        </div>
        <h3>Science</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.science.d2" {{checked actor.data.data.skills.science.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.science.d4" {{checked actor.data.data.skills.science.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.science.d6" {{checked actor.data.data.skills.science.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.science.d8" {{checked actor.data.data.skills.science.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.science.d10" {{checked actor.data.data.skills.science.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.science.d12" {{checked actor.data.data.skills.science.d12}}/>
            </div>
        </div>
        <h3>Survival</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.survival.d2" {{checked actor.data.data.skills.survival.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.survival.d4" {{checked actor.data.data.skills.survival.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.survival.d6" {{checked actor.data.data.skills.survival.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.survival.d8" {{checked actor.data.data.skills.survival.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.survival.d10" {{checked actor.data.data.skills.survival.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.survival.d12" {{checked actor.data.data.skills.survival.d12}}/>
            </div>
        </div>
        <h3>Technology</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.technology.d2" {{checked actor.data.data.skills.technology.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.technology.d4" {{checked actor.data.data.skills.technology.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.technology.d6" {{checked actor.data.data.skills.technology.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.technology.d8" {{checked actor.data.data.skills.technology.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.technology.d10" {{checked actor.data.data.skills.technology.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.technology.d12" {{checked actor.data.data.skills.technology.d12}}/>
            </div>
        </div>
    </div>
    <div class="soc-skills flexcol">
        <h3>Animal Handling</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.animal_handling.d2" {{checked actor.data.data.skills.animal_handling.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.animal_handling.d4" {{checked actor.data.data.skills.animal_handling.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.animal_handling.d6" {{checked actor.data.data.skills.animal_handling.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.animal_handling.d8" {{checked actor.data.data.skills.animal_handling.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.animal_handling.d10" {{checked actor.data.data.skills.animal_handling.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.animal_handling.d12" {{checked actor.data.data.skills.animal_handling.d12}}/>
            </div>
        </div>
        <h3>Deception</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.deception.d2" {{checked actor.data.data.skills.deception.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.deception.d4" {{checked actor.data.data.skills.deception.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.deception.d6" {{checked actor.data.data.skills.deception.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.deception.d8" {{checked actor.data.data.skills.deception.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.deception.d10" {{checked actor.data.data.skills.deception.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.deception.d12" {{checked actor.data.data.skills.deception.d12}}/>
            </div>
        </div>
        <h3>Performance</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.performance.d2" {{checked actor.data.data.skills.performance.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.performance.d4" {{checked actor.data.data.skills.performance.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.performance.d6" {{checked actor.data.data.skills.performance.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.performance.d8" {{checked actor.data.data.skills.performance.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.performance.d10" {{checked actor.data.data.skills.performance.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.performance.d12" {{checked actor.data.data.skills.performance.d12}}/>
            </div>
        </div>
        <h3>Persuasion</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.persuasion.d2" {{checked actor.data.data.skills.persuasion.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.persuasion.d4" {{checked actor.data.data.skills.persuasion.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.persuasion.d6" {{checked actor.data.data.skills.persuasion.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.persuasion.d8" {{checked actor.data.data.skills.persuasion.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.persuasion.d10" {{checked actor.data.data.skills.persuasion.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.persuasion.d12" {{checked actor.data.data.skills.persuasion.d12}}/>
            </div>
        </div>
        <h3>Streetwise</h3>
        <div class="flexrow">
            <div class="flexcol">
                <label>D2</label>
                <input type="checkbox" name="data.skills.streetwise.d2" {{checked actor.data.data.skills.streetwise.d2}}/>
            </div>
            <div class="flexcol">
                <label>D4</label>
                <input type="checkbox" name="data.skills.streetwise.d4" {{checked actor.data.data.skills.streetwise.d4}}/>
            </div>
            <div class="flexcol">
                <label>D6</label>
                <input type="checkbox" name="data.skills.streetwise.d6" {{checked actor.data.data.skills.streetwise.d6}}/>
            </div>
            <div class="flexcol">
                <label>D8</label>
                <input type="checkbox" name="data.skills.streetwise.d8" {{checked actor.data.data.skills.streetwise.d8}}/>
            </div>
            <div class="flexcol">
                <label>D10</label>
                <input type="checkbox" name="data.skills.streetwise.d10" {{checked actor.data.data.skills.streetwise.d10}}/>
            </div>
            <div class="flexcol">
                <label>D12</label>
                <input type="checkbox" name="data.skills.streetwise.d12" {{checked actor.data.data.skills.streetwise.d12}}/>
            </div>
        </div>
    </div>
</div>
