<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>
    </div>
  </li>
</ol>
<div class="skills grid grid-4col">
    {{#each data.essences as |essence ekey|}}
    <div class="{{ekey}}-skills flexcol">
        {{#each ../data.skills as |skill key|}}
        {{#if (equals skill.essence ekey)}}
        <h3>{{toCamelCase key}}</h3>
        <div class="flexrow">
            <div class="flexcol">
                {{#if (equals key "conditioning")}}<label>+1</label>{{else}}<label>D2</label>{{/if}}
                <input type="checkbox" name="data.skills.{{key}}.d2" {{checked skill.d2}}/>
            </div>
            <div class="flexcol">
                {{#if (equals key "conditioning")}}<label>+2</label>{{else}}<label>D4</label>{{/if}}
                <input type="checkbox" name="data.skills.{{key}}.d4" {{checked skill.d4}}/>
            </div>
            <div class="flexcol">
                {{#if (equals key "conditioning")}}<label>+3</label>{{else}}<label>D6</label>{{/if}}
                <input type="checkbox" name="data.skills.{{key}}.d6" {{checked skill.d6}}/>
            </div>
            <div class="flexcol">
                {{#if (equals key "conditioning")}}<label>+4</label>{{else}}<label>D8</label>{{/if}}
                <input type="checkbox" name="data.skills.{{key}}.d8" {{checked skill.d8}}/>
            </div>
            <div class="flexcol">
                {{#if (equals key "conditioning")}}<label>+5</label>{{else}}<label>D10</label>{{/if}}
                <input type="checkbox" name="data.skills.{{key}}.d10" {{checked skill.d10}}/>
            </div>
            <div class="flexcol">
                {{#if (equals key "conditioning")}}<label>+6</label>{{else}}<label>D12</label>{{/if}}
                <input type="checkbox" name="data.skills.{{key}}.d12" {{checked skill.d12}}/>
            </div>
        </div>
        {{#unless (equals key "conditioning")}}
        <div class="flexrow">
            <div class="flexcol">
                <input type="text" name="data.skills.{{key}}.specializations.0" value="{{skill.specializations.[0]}}" data-dtype="String"/>
                <input type="text" name="data.skills.{{key}}.specializations.1" value="{{skill.specializations.[1]}}" data-dtype="String"/>
                <input type="text" name="data.skills.{{key}}.specializations.2" value="{{skill.specializations.[2]}}" data-dtype="String"/>
            </div>
        </div>
        {{/unless}}
        {{/if}}
        {{/each}}
    </div>
    {{/each}}
</div>
